@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[Название компании по прокату автомобилей]</title>
    <link rel="stylesheet" type="text/css" href="~/css/rent.css" />
</head>
<body>
    <main class="main">
        <div class="title">
            <h1>[Название компании по прокату автомобилей]</h1>
            <img src="[Изображение автомобиля]" alt="[Название автомобиля]">
        </div>

        <div class="main-block">

        </div>
        <section class="description">
            <p>
                [Компания по прокату автомобилей] предлагает широкий выбор автомобилей для аренды в Нидерландах. Мы предлагаем автомобили всех размеров и классов, чтобы удовлетворить любые потребности наших клиентов. Наши автомобили оснащены новейшими технологиями безопасности и комфорта, чтобы обеспечить вам безопасное и комфортное путешествие.
            </p>
        </section>

        <section class="contact">
            <ul>
                <li>Адрес: [Адрес]</li>
                <li>Телефон: [Телефон]</li>
                <li>Электронная почта: [Электронная почта]</li>
            </ul>
        </section>

        <section class="booking">
            <form action="[Ссылка на форму бронирования]" method="post">
                <input type="text" name="name" placeholder="Ваше имя">
                <input type="text" name="email" placeholder="Ваш адрес электронной почты">
                <input type="text" name="phone" placeholder="Ваш номер телефона">
                <input type="date" name="start_date" placeholder="Дата начала аренды">
                <input type="date" name="end_date" placeholder="Дата окончания аренды">
                <input type="submit" value="Ssdijf">
            </form>
        </section>
    </main>
</body>
</html>