@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Car

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[Название компании по прокату автомобилей]</title>
    <link rel="stylesheet" href="~/css/rent.css">
</head>
<body>
    <main class="main">
        <img src="@Url.Content(Model.Image)" alt="Автомобиль" class="car-img">
        <div class="car-short-info">
            <h2>@Model.Brand.Name</h2>
            <p>@Model.Model.Name</p>
        </div>
        <section class="booking">
            <form action="[Ссылка на форму бронирования]" method="post" class="rent-form">
                <div class="rent-date">
                    <input type="date" name="start_date" placeholder="Дата начала аренды">
                </div>
                <div class="rent-button">
                    <input type="submit" value="Забронировать">
                </div>
            </form>
        </section>
    </main>

</body>
</html>