@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование профиля</title>
    <link rel="stylesheet" href="~/css/profile.css" />
</head>
<body>
    <main class="main">
        <div class="edit-block">
            <h1 class="title">Редактирование профиля</h1>
            <form action="[Ссылка на сохранение изменений]" method="post">

                <section class="info">
                    <h2>Основная информация</h2>

                    <input type="text" name="name" placeholder="Имя">
                    <input type="text" name="surname" placeholder="Фамилия">
                    <input type="date" name="birthday" placeholder="Дата рождения">
                    <input type="text" name="city" placeholder="Город">
                </section>

                <section class="contacts">
                    <h2>Контактная информация</h2>

                    <input type="text" name="phone" placeholder="Телефон">
                    <input type="email" name="email" placeholder="Электронная почта">
                </section>

                <input type="submit" value="Сохранить">
            </form>
        </div>
    </main>

</body>
</html>